:root {
  --box-shadow: 3.5px 3.5px 2.2px rgba(0, 0, 0, 0.018),
    7.8px 7.8px 5.3px rgba(0, 0, 0, 0.024), 14px 14px 10px rgba(0, 0, 0, 0.03),
    23.7px 23.7px 17.9px rgba(0, 0, 0, 0.035),
    42.7px 42.7px 33.4px rgba(0, 0, 0, 0.044),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login .logincontainer {
  background-color: rgb(228, 237, 240);
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.login .box {
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.466); */
  padding: 40px;
  /* margin-top: 50px; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px -8px 10px rgba(0, 0, 0, 0.3),
    -10px 5px 10px rgba(0, 0, 0, 0.3), 15px 8px 10px rgba(0, 0, 0, 0.3);
}

.login .inputfeild {
  display: flex;
  border-bottom: 2px solid black;
  margin: 15px;
  padding: 5px;
  width: 320px;
}
.login .inputfeild input {
  border: none;
  outline: none;
  padding-left: 10px;
}
.login #signupheading {
  padding: 10px 18px;
  font-weight: 900;
  font-size: 2rem;
}

.login .imgbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login .imgbox img {
  width: 70%;
  padding: 15px;
  padding-bottom: 20px;
  margin: 15px;
}
.login .imgbox a {
  text-decoration: none;
  font-weight: 700;
}
.login .imgbox #mypic {
  width: 250px;
}

/* Media query */
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 870px) {
  .login .box {
    flex-direction: column;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .login .logincontainer {
    background-color: white;
    margin-bottom: 50px;
  }
  .login .box {
    /* box-shadow: none; */
    width: 90vw;
  }
}
/* Button css */
/* From cssbuttons.io by @adamgiebl */
/* From cssbuttons.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: 10px 20px;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

/* Keyframe */
#mypic {
  animation: App-logo-spin infinite 2s ease-in-out alternate-reverse both;
}

@keyframes App-logo-spin {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
