@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.button:hover {
  opacity: 0.8;
}
/* 950 */
@media only screen and (max-width: 991px) {
  .contact_info_item {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact_info_item:last-child {
    margin-bottom: 0;
  }
  label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
  }
}
@media only screen and (max-width: 767px) {
  .input-feild {
    margin-bottom: 30px;
    width: 100%;
  }
  .input-feild:last-child {
    margin-bottom: 0;
  }
  .home-page .home-div h1 {
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  .home-page .home-div h2 {
    font-size: 25px;
    font-weight: 500;
  }
}
/* 1000 */
@media only screen and (max-width: 575px) {
  .contact_submit_btn {
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* background: #abb0f0; */
  height: 100vh;
}
